<div class="container">
    <h1>Adicionar Nova Venda</h1>
    <form #form="ngForm" (ngSubmit)="addVenda()">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="dataVenda" class="form-label">Data da Venda:</label>
                    <input type="date" class="form-control" id="dataVenda" name="dataVenda" placeholder="Digite a data (dd/mm/yyyy)" 
                    [(ngModel)] = "addVendaRequest.dataVenda">
                </div>
                <div class="mb-3">
                    <label for="operadora" class="form-label">Operadora:</label>
                    <input type="text" class="form-control" id="operadora" name="operadora" placeholder="Digite a operadora"
                    [(ngModel)] = "addVendaRequest.operadora">
                </div>
                <div class="mb-3">
                    <label for="cliente" class="form-label">Nome Cliente</label>
                    <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Digite o nome do cliente"
                    [(ngModel)] = "addVendaRequest.cliente">
                </div>
                <div class="mb-3">
                    <label for="apelido" class="form-label">Apelido</label>
                    <input type="text" class="form-control" id="apelido" name="apelido" placeholder="Digite o apelido"
                    [(ngModel)] = "addVendaRequest.apelido">
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" placeholder="(PF/PJ)"
                    [(ngModel)] = "addVendaRequest.tipo">
                </div>
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor do Contrato</label>
                    <input type="number" class="form-control" id="valor" name="valor" placeholder="Digite o valor do contrato"
                    [(ngModel)] = "addVendaRequest.valorContrato">
                </div>
                <div class="mb-3">
                    <label for="comissao" class="form-label">Porcentagem da Comissão</label>
                    <input type="number" class="form-control" id="comissao" name="comissao" placeholder="Digite a porcentagem da comissão"
                    [(ngModel)] = "addVendaRequest.comissao">
                </div>
                <div class="mb-3">
                    <label for="parcela" class="form-label">Parcela</label>
                    <input type="number" class="form-control" id="parcela" name="parcela" placeholder="Digite a parcela"
                    [(ngModel)] = "addVendaRequest.parcela">
                </div>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </form>
</div>